<ul>
    <li><a href="{{site.root_url}}cards">Card layout</a></li>
    <li><a href="{{site.root_url}}generic">Generic Markup</a></li>
    <li><a href="{{site.root_url}}forms">Forms</a></li>
    <li><a href="{{site.root_url}}alerts">Alerts</a></li>
    <li><a href="{{site.root_url}}tables">Tables</a></li>
    <li><a href="https://github.com/archost/alicht"><strong style="font-weight:800;font-variant:small-caps;">alicht</strong> on &nbsp;<span class="octicon octicon-mark-github"></span></a></li>
</ul>
