<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Alicht CSS style">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="/css/alicht.css">
    <title>Alicht CSS</title>
</head>
<body>

<div id="topbar">
	<div>
	 {% unless page.home %}
		<a href="/"><div id="head">Alicht CSS</div></a>
	 {% endunless %}
		<nav id="nav" class="righted">
			<div class="mobileoff">
				{% for link in site.menu %}
					<a href="{{link.url}}">{{link.text}}</a>
				{% endfor %}
			</div>

			<select class="mobileon" name="Menu" onchange="location = this.options[this.selectedIndex].value;">
				<option value="#" selected="selected">Menu</option>
					{% for link in site.menu %}
						<option value="{{link.url}}">{{link.text}}</option>
					{% endfor %}
			</select>
		</nav>
	</div>
</div>

{{ content }}

<footer>
    <p>Copyright &copy; 2015 &mdash; <a href="http://schoewilliam.fr">William Dorffer</a></p>
    <p><a href="https://github.com/archost/alicht" title="Alicht on GitHub"><span class="octicon octicon-mark-github"></span></a></p>
</footer>
<script src="{{site.root_url}}js/alicht.js"></script>
</body>
</html>
