---
layout: compact
title: "Alicht CSS Components : Alerts."
permalink: /components/alerts.html
---
<section>
    <h1 id="alerts">Alerts</h1>

    <div class="tile-wrapper">
        <div class="tile wide">
            There are 4 types of alert boxes: <code>.alert</code>, <code>.alert.success</code>, <code>.alert.error</code>, <code>.alert.warning</code>.
            <style>
			.alert.fadin, .alert.fadin:before {
                -webkit-animation-duration: 1.6s;
                animation-duration: 1.6s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }</style>
        </div>

        <div class="tile wide">
            <div class="alert">Lorem ipsum dolor sit amet.</div>
            <pre><code>&lt;div class="<strong style="color:#27DCE9">alert</strong>"&gt;Lorem ipsum dolor sit amet&lt;/div&gt;</code></pre>
        </div>

        <div class="tile wide">
            <div class="alert fadin">Lorem ipsum dolor sit amet.</div>
            <p><em>The animation is here looped and made slower for the purpose of the demo.</em>
            <br>They also come with a nice appearing animation if you add the <code>.fadin</code> class.</p>
            <pre><code>&lt;div class="alert <strong style="color:#27DCE9">fadin</strong>"&gt;Lorem ipsum dolor sit amet&lt;/div&gt;</code></pre>
        </div>


        <div class="tile wide">
            <div class="alert success">Pellentesque auctor nisi id.</div>
            <pre><code>&lt;div class="alert <strong style="color: rgb(39, 233, 151);">success</strong>"&gt;Lorem ipsum dolor sit amet&lt;/div&gt;</code></pre>
        </div>


        <div class="tile wide">
            <div class="alert error">Praesent et diam eget libero egestas mattis sit amet vitae augue.</div>
            <pre><code>&lt;div class="alert <strong style="color:#ED7F7F">error</strong>"&gt;Lorem ipsum dolor sit amet&lt;/div&gt;</code></pre>
        </div>


        <div class="tile wide">
            <div class="alert warning">Quisque mi metus, ornare sit amet.</div>
            <pre><code>&lt;div class="alert <strong style="color:#EDB17F">warning</strong>"&gt;Lorem ipsum dolor sit amet&lt;/div&gt;</code></pre>
        </div>
    </div>
</section>
