---
layout: compact
title: "Alicht CSS Components : Buttons."
permalink: /components/buttons.html
---
<section>
    <h1>Buttons</h1>
    <div class="tile-wrapper alternate">
        <div class="tile">
            <p>Buttons have styles, states, and sizes variations.<br>
            Add <code>class="button"</code> to any <code>&lt;a&gt;</code> link element to turn it into a button.</p>
            <div class="alert righted"><code>&lt;button&gt;</code> elements get the button style as well, without any class.</div>
        </div>

        <div class="tile centered">
            <h3 class="centered">Styles</h3>
            <a class="button">Button</a>
            <a class="button primary">Primary</a>
            <a class="button success">Success</a>
            <a class="button error">Error</a>
            <a class="button warning">Warning</a>
            <p>
                <code>.button</code>,
                <code>.button<strong style="color:#fff">.primary</strong></code>,
                <code>.button<strong style="color:rgb(39,233,151)">.success</strong></code>,
                <code>.button<strong style="color:#ED7F7F">.error</strong></code>,
                <code>.button<strong style="color:#EDB17F">.warning</strong></code>.
            </p>
        </div>

        <div class="tile centered">
            <h3 class="centered">States</h3>
            <a class="button">Normal</a>
            <a class="button disabled">Disabled</a>
            <p>
                <code>.button</code>,
                <code>.button<strong style="color:#fff">.disabled</strong></code>.
            </p>
        </div>

        <div class="tile centered">
            <h3 class="centered">Sizes</h3>
            <a class="button smaller">Smaller</a>
            <a class="button small">Small</a>
            <a class="button">Default</a>
            <a class="button big">Big</a>
            <a class="button bigger">Bigger</a>
            <p>
                <code>.button<strong style="color:#fff">.smaller</strong></code>,
                <code>.button<strong style="color:#fff">.small</strong></code>,
                <code>.button<strong style="color:#fff">.big</strong></code>,
                <code>.button<strong style="color:#fff">.bigger</strong></code>.
            </p>
        </div>
    </div>
</section>
